$primary:    #58390c;
$secondary:  #d6b584;
$success:    #7eb45f;
$info:       #9fafa1;
$warning:    #e6c855;
$danger:     #ba1f67;
$light:      #ffffff;
$dark:       #000000;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
); 
@import "bootstrap/bootstrap";

body {
	background: linear-gradient(135deg, #d6b584, #11803d);
	font-family: Roboto, sans-serif;
	background-attachment: fixed;
}

header {
	backdrop-filter: blur(2em);
	position: fixed;
	top: 0;
	width: 100%;
}

img {
		border-radius: 20px;
		height: auto;
		max-width: 100%;
}

#hidden-time {
	display: none;
}

#main-logo {
	max-height: 2.5em;
	background: transparent;
}
.under {
	padding-top: 5em;
}
main {
  align-items: center;
	color: #f9f9f9;
}

.card {
	background-size: cover;
}

footer {
	background: linear-gradient(135deg, #9f997e, #cfc182);
	text-align: center;
}

footer div {
	color: $danger;
}

.outer-items {
		display: flex;
		flex-direction: column;
		align-items: center;
}


.item-container {
		width: 100%;
		display: flex;
		flex-direction: row; 
		justify-content: space-evenly;
		
		.item-box {
				width: 30%;
				margin: 2em;
				padding: 1em;
				border-radius: 1em;
				background: linear-gradient(135deg, #c0de5c, #bd6432);
		}
		.item-box:hover {
				opacity: 0.5;
				transition: opacity .3s ease-in;
		}
}



#main-img {
		margin: 2em 0;
}


#gallery-box {
		display: flex;
		align-items: center;
		flex-direction: column;
}


.gallery-item {
		max-width: 80%;
		margin-top: 2em;
}
