$primary:    #58390c;
$secondary:  #d6b584;
$success:    #7eb45f;
$info:       #9fafa1;
$warning:    #e6c855;
$danger:     #ba1f67;
$light:      #ffffff;
$dark:       #000000;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
); 
@import "bootstrap/bootstrap";

body {
	background: linear-gradient(135deg, #d6b584, #11803d);
	font-family: Roboto, sans-serif;
	background-attachment: fixed;
}

header {
	backdrop-filter: blur(2em);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

img {
		border-radius: 20px;
		height: auto;
		max-width: 100%;
		backface-visibility: hidden;
	  transition: .5s ease;

}

#hidden-time {
	display: none;
}

#main-logo {
	max-height: 2.5em;
	background: transparent;
}
.under {
	padding-top: 5em;
}
main {
  align-items: center;
	color: #f9f9f9;
}
.in-form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	background-size: cover;
}

footer {
	background: linear-gradient(135deg, #9f997e, #cfc182);
	text-align: center;
}

footer div {
	color: $danger;
}

.outer-items {
		display: flex;
		flex-direction: column;
		align-items: center;
}
button {
	a {text-decoration: none;}
}


.item-container {
		width: 100%;
		display: inline-flex;
		flex-direction: row; 
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: auto;
		a {
			text-decoration: none;
		}	
		.item-box {
				display: inline-block;
				width: 27%;
				margin: 2em;
				padding: 1em;
				border-radius: 1em;
				background: linear-gradient(135deg, #c0de5c, #bd6432);
		}
		.item-box:hover {
				opacity: 0.5;
				transition: opacity .3s ease-in;
		}
}

.badge {
		margin: 0 5px;
}
.container {
	margin-top: 5em;
	display: flex;
	flex-direction: column;
	h1 {
		text-align: center;
	}
}
.button-box {
	display: flex;
	width: 50%;
	flex-direction: row;
	margin: 1em 0;
	justify-content: space-around;
}

#main-img {
		margin: 2em 0;
}


#gallery-box {
		display: flex;
		align-items: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
}


.gallery-item {
		max-width: 80%;
		margin-top: 2em;
}


.img-box {
	margin: auto;
	width: 70%;
	position: relative;
	button {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
	  transform: translate(-50%, -50%);
		a { text-decoration: none; }
	}
	img {
		// width:100%;
		height: auto;
	}
	&:hover img {
		opacity: 0.4;
	}
	&:hover button {
		opacity: 1;
	}
}

.feedback {
	font-size: 1.2em;
	width: 100%;
	margin-top: 5em;
	display: flex;
	flex-direction: column;
	// align-items: center;
	label {
		font-weight: bold;
	}
	ul > p,ul, h1{
		width: 70%;
		margin: auto;
	}
	h1 {
		text-align: center;
	}
  input[type=submit] {
		padding: 5px;
		margin: auto;
	}
}

#mads {
	max-height: 400px;
	max-width: 50%;
}

.helptext {
	font-size: .75em;
	font-style: italic;
}

.feedback-success {
	align-items: center;
}

.errorlist {
	color: $warning;
	//margin: 0 -20%;
	font-weight: bold;
	text-decoration: none;

	li {
		margin: 0;
	}
}

.users-list {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	li {
		min-width: 50%;
	}
}

div.signup {
  width: 50;
  margin: auto;
}

#profile-picture {
  width: 30%;
  margin: auto;
}

.some-links {
  display: flex;
  flex-direction: column;
}

#drink-coffee {
  margin-top: 10px;
}

.login-block {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  label {
    font-weight: bolder;
  }
  
  input {
    padding: 5px;
    border-radius: 15px;
    border: none;
  }
}

.input-cell > input {
    padding: 5px;
    border-radius: 15px;
    border: none;
}

table.feedback {
  align-items: center;
    padding: 5px;
    border-radius: 15px;
    border: none;
}

.redir-btn {
  width: 200px;
  margin: auto;
}

#dn {
  display: none;
}
