{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="description" content="my first website"/>
    <meta name="keywords" content="cat,cats,kitten,fruits,vegetable"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% include "includes/head.html" %}
    <!--<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image">-->
    {% compress css %}
      <link type="text/x-scss"
            rel="stylesheet"
            href="{% static 'scss/style.scss' %}"/>
    {% endcompress %}
    <title>
      {% block title %}
        Teapot
      {% endblock title %}
    </title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    <header class="d-flex justify-content-between py-3 px-5">
      <img id="main-logo"
           src="{% static 'img/cat-logo.png' %}"
           alt=""
           height=""
           width=""/>
      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills justify-content-between">
          <li class="nav-item">
            <a href="{% url 'homepage:home' %}"
               class="nav-link {% if view_name == 'homepage:home' %}active{% endif %}">Главная</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'catalog:item_list' %}"
               class="nav-link {% if view_name == 'catalog:item_list' %}active{% endif %}">Список товаров
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'about:about' %}"
               class="nav-link {% if view_name == 'about:about' %}active{% endif %}">О проекте</a>
          </li>
        </ul>
      {% endwith %}
    </header>
    <main>
      {% block content %}
        Какие-то проблемы?
      {% endblock content %}
    </main>
    {% include "includes/footer.html" %}
  </body>
</html>
