{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="px-4 py-5 my-5 text-center feedback">
    <form action="" method="post">
      {% csrf_token %}
      {% if form.errors %}<div class="alert alert-danger">Проверьте введённые данные!</div>{% endif %}
      {% for field in form %}
        <div class="login-block form-control-lg form-group-item">
          {{ field.label_tag }} {{ field }}           {% if field.help_text %}<p class="help">{{ field.help_text | safe }}</p>{% endif %}
        </div>
      {% endfor %}
      <button id="btn-login" class="btn btn-primary" type="submit">
        {% block view-text %}
          Войти
        {% endblock view-text %}
      </button>
    </form>
    <a href="{% url "users:signup" %}">Нет аккаунта?</a>
  </div>
{% endblock content %}
