{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="px-4 py-5 my-5 text-center feedback">
    {% if validlink %}
      <p>Введите новый пароль</p>
      <form action="" method="post">
        <div style="display:none">
          <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table class="px-4 py-5 my-5 text-center feedback">
          <tr>
            <td>
              {{ form.new_password1.errors }}
              <label for="id_new_password1">Новый пароль:</label>
            </td>
            <td class="input-cell">{{ form.new_password1 }}</td>
          </tr>
          <tr>
            <td>
              {{ form.new_password2.errors }}
              <label for="id_new_password2">Повторите пароль:</label>
            </td>
            <td class="input-cell">{{ form.new_password2 }}</td>
          </tr>
        </table>
        <input class="btn btn-primary"
               type="submit"
               name="send"
               value="Сменить пароль"/>
      </form>
    {% else %}
      <p>Эта ссылка уже была использована</p>
    {% endif %}
  </div>
{% endblock content %}
