{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
  {% trans "Каталог" %}
{% endblock title %}
{% block content %}
  <section class="py-5 text-center container"/>
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">{% trans "Товары по категориям" %}</h2>
    <div class="outer-items">
      {% regroup items by category as category_list %}
      {% for category in category_list %}
        <h2>{{ category.grouper }}</h2>
        <div class="item-container">
          {% for item in category.list %}
            {% include "includes/item_card.html" %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
