{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}
  {% trans "Кот!" %}
{% endblock title %}
{% block content %}
  <div class="px-4 py-5 my-5 text-center">
    <h2>{{ item.name }}</h2>
    <p>{{ item.text.plain }}</p>
    <img id="main-img"
         src="{{ item.main_image.image.url }}"
         alt="no main"
         height=""
         width=""/>
    <h3>Галерея товара:</h3>
    <div id="gallery-box">
      {% for photo in gallery %}<img class="gallery-item"
     src="{{ photo.image.url }}"
     alt=""
     height=""
     width=""/>{% endfor %}
    </div>
  </div>
{% endblock content %}
